* {
  padding: 0px;
  margin: 0px;
  // overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  width: 100%;
  height: 75px;

  .navbar_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .navbar_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;

    .dots_container {
        display: flex;
        height: 100%;
    }
  }
}
